<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid Dashboard</title>
<style>
    body {
        background-color: cadetblue;
    }

    .buttons {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
    }
    .items {
        border-style: solid;
        border-width: thin;
        width: 500px;
        height: 75px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #response {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-width: thin;
        min-height: 500px;
    }

    #content {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    #title {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .items h2{
        margin-top: 0;
    }

    .responseitem {
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-width: thin;
        width: 500px;
        margin-top: 20px;
        padding: 10px;
    }

</style>
    <script>

        function get_search_data_for_country(){
            countryselector = document.querySelector('#countryinput')
            countrydata = countryselector.options[countryselector.selectedIndex].value

            dateselector = document.querySelector('#countryinputdate')
            datedata = dateselector.options[dateselector.selectedIndex].value

            var url = "/searchcountry/" + countrydata + "/" + datedata

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
            var data = null
            data = this.responseText;
            objectdata = JSON.parse(data)

             document.querySelector('#dateforcounrydisplay').innerHTML = datedata
             document.querySelector('#countryforcountrydisplay').innerHTML = countrydata
             document.querySelector('#deathsforcountrydisplay').innerHTML = objectdata["deaths"]
             document.querySelector('#casesforcountrydisplay').innerHTML = objectdata["cases"]
           }
         };
           xhttp.open("GET", url, true);
           xhttp.send();


        }

        function get_serchdata_for_state() {

             stateselector = document.querySelector('#stateinput')
             statedata = stateselector.options[stateselector.selectedIndex].value

             dateselector = document.querySelector('#stateinputdate')
             datedata = dateselector.options[dateselector.selectedIndex].value

            var url = "/searchstate/" + statedata +"/" + datedata

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = null
                    data = this.responseText;
                    objectdata = JSON.parse(data)

                        document.querySelector('#dateforstatedisplay').innerHTML = datedata
                        document.querySelector('#stateforstatedisplay').innerHTML = statedata
                        document.querySelector('#deathsforstatedisplay').innerHTML = objectdata["deaths"]
                        document.querySelector('#casesforstatedisplay').innerHTML = objectdata["cases"]
           }
         };
           xhttp.open("GET", url, true);
           xhttp.send();
        }

        function get_data_forstate_restrict(){
            statelookup = document.querySelector('#location')
            lookupstate = statelookup.options[statelookup.selectedIndex].value

            var xhttp = new XMLHttpRequest();
             xhttp.onreadystatechange = function() {
                 if (this.readyState == 4 && this.status == 200) {
                    var data = null
                    data = this.responseText;
                    objectdata = JSON.parse(data)

            document.querySelector('#gatheringdisplay').innerHTML = objectdata["gather"]
            document.querySelector('#noessentialdisplay').innerHTML = objectdata["nonessentialbus"]
            document.querySelector('#resturantdisplay').innerHTML = objectdata["resturant"]
            document.querySelector('#sourcedisplay').innerHTML = objectdata["source"]
         }
          };
           xhttp.open("GET", "/state/" + lookupstate, true);
           xhttp.send();

        }

        function display_state_analysis(){

            stateselector = document.querySelector('#selectstateforanalyse')
            statedata = stateselector.options[stateselector.selectedIndex].value
            var url = "/analysestate/" + statedata

            var xhttp = new XMLHttpRequest();
         xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
                var data = null
                data = this.responseText;
                objectdata = JSON.parse(data)

             document.querySelector('#displayanalysislocation').innerHTML = statedata
             document.querySelector('#mincases').innerHTML = objectdata["mincase"]
             document.querySelector('#maxcases').innerHTML = objectdata["maxcase"]
             document.querySelector('#averagecases').innerHTML = objectdata["averagecase"]
             document.querySelector('#mindeaths').innerHTML = objectdata["mindeath"]
             document.querySelector('#maxdeaths').innerHTML = objectdata["maxdeath"]
             document.querySelector('#averagedeaths').innerHTML =     objectdata["averagedeath"]
           }
         };
           xhttp.open("GET", url, true);
           xhttp.send();
        }

        function display_country_analysis(){

           countryselector = document.querySelector('#selectcountryforanalyse')
           countrydata = countryselector.options[countryselector.selectedIndex].value
           var url = "/analysecountry/" + countrydata
           var xhttp = new XMLHttpRequest();
           xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = null
                    data = this.responseText;
                    objectdata = JSON.parse(data)

                    document.querySelector('#displayanalysislocation').innerHTML = countrydata
                    document.querySelector('#mincases').innerHTML = objectdata["mincase"]
                    document.querySelector('#maxcases').innerHTML = objectdata["maxcase"]
                    document.querySelector('#averagecases').innerHTML = objectdata["averagecase"]
                    document.querySelector('#mindeaths').innerHTML = objectdata["mindeath"]
                    document.querySelector('#maxdeaths').innerHTML = objectdata["maxdeath"]
                    document.querySelector('#averagedeaths').innerHTML =     objectdata["averagedeath"]
           }
         };
           xhttp.open("GET", url, true);
           xhttp.send();
        }

        function update_state(){
            document.querySelector('#updatestateresult').innerHTML = "Loading data....Please Wait...."
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = null
                    data = this.responseText;
                    objectdata = JSON.parse(data)


                 today = new Date()
                 document.querySelector('#updatestateresult').innerHTML = objectdata["status"] + " at " + today.getMonth() + "/" + today.getDate() + "/" + today.getFullYear()
                 getstatedates()
           }
         };
           xhttp.open("GET", "/updatestate", true);
           xhttp.send();

        }

        function update_country(){
            document.querySelector('#updatecountryresult').innerHTML = "Loading data....Please Wait...."
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                var data = null
                data = this.responseText;
                objectdata = JSON.parse(data)

                today = new Date()
                  document.querySelector('#updatecountryresult').innerHTML = objectdata["status"] +  " at " + today.getMonth() + "/" + today.getDate() + "/" + today.getFullYear()
             getcountrydates()
           }
         };
           xhttp.open("GET", "/updatecountry", true);
           xhttp.send();

        }

        function fillstatelist(){
             var xhttp = new XMLHttpRequest();
             xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                var data = null
                data = this.responseText;
                objectdata = JSON.parse(data)

            for(let x= 0; x< objectdata.length; x++){
                var item1 = document.createElement("option")
                var item3 = document.createElement("option")
                item1.value = objectdata[x]
                item1.text = objectdata[x]


                item3.value = objectdata[x]
                item3.text = objectdata[x]
                document.querySelector('#selectstateforanalyse').appendChild(item1)
                document.querySelector('#stateinput').appendChild(item3)

            }

           }
         };
           xhttp.open("GET", "/getstatelist", true);
           xhttp.send();
        }

        function fillcountrylist(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                    var data = null
                    data = this.responseText;
                    objectdata = JSON.parse(data)


              for(let x= 0; x< objectdata.length; x++){
                var item1 = document.createElement("option")
                  var item2 = document.createElement("option")
                item1.value = objectdata[x]
                item1.text = objectdata[x]
                  item2.value = objectdata[x]
                  item2.text = objectdata[x]
                document.querySelector('#countryinput').appendChild(item1)
                document.querySelector('#selectcountryforanalyse').appendChild(item2)

            }

           }
         };
           xhttp.open("GET", "/getcountrylist", true);
           xhttp.send();

        }

        function getstatedates(){
             var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = null
                    data = this.responseText;
                    objectdata = JSON.parse(data)


             for(let x=0; x < objectdata.length; x++){
                 var element = document.createElement("option")
                 element.value = objectdata[x]
                 element.text = objectdata[x]
                 document.querySelector("#stateinputdate").appendChild(element)
             }
           }
         };
           xhttp.open("GET", "/generatestatedates", true);
           xhttp.send();
        }

        function getcountrydates(){
             var xhttp = new XMLHttpRequest();
             xhttp.onreadystatechange = function() {
             if (this.readyState == 4 && this.status == 200) {
                var data = null
                data = this.responseText;
                objectdata = JSON.parse(data)

            for(let x=0; x < objectdata.length; x++){
                 var element = document.createElement("option")
                 element.value = objectdata[x]
                 element.text = objectdata[x]
                 document.querySelector("#countryinputdate").appendChild(element)
             }
           }
         };
           xhttp.open("GET", "/generatecountrydates", true);
           xhttp.send();
        }
    </script>
</head>
<body onload="fillstatelist(); fillcountrylist(); getcountrydates(); getstatedates()">
<h1 id="title">Covid Dashboard</h1>

<div id="content">

    <div class="buttons">
        <div class="items">
            <h2>Update Country Data</h2>
            <input type="button" value="Click to Load Newest Country Data" onclick="update_country()"/>
            <span id="updatecountryresult"></span>
        </div>
        <div class="items">
            <h2>Update State Date</h2>
            <input type="button" value="Click to Load Newest State Data" onclick="update_state()">
            <span id="updatestateresult"></span>
        </div>
    </div>
    <div class="buttons">
        <div class="items">
            <h2>Show Restrictions for each state</h2>
            <div>
                <label for="location">Select State</label>
                <select id="location">
	                    <option value="AL">Alabama</option>
	                    <option value="AK">Alaska</option>
	                    <option value="AZ">Arizona</option>
	                    <option value="AR">Arkansas</option>
	                    <option value="CA">California</option>
	                    <option value="CO">Colorado</option>
	                    <option value="CT">Connecticut</option>
	                    <option value="DE">Delaware</option>
	                    <option value="DC">District Of Columbia</option>
	                    <option value="FL">Florida</option>
	                    <option value="GA">Georgia</option>
	                    <option value="HI">Hawaii</option>
	                    <option value="ID">Idaho</option>
	                    <option value="IL">Illinois</option>
	                    <option value="IN">Indiana</option>
	                    <option value="IA">Iowa</option>
	                    <option value="KS">Kansas</option>
	                    <option value="KY">Kentucky</option>
	                    <option value="LA">Louisiana</option>
	                    <option value="ME">Maine</option>
	                    <option value="MD">Maryland</option>
	                    <option value="MA">Massachusetts</option>
	                    <option value="MI">Michigan</option>
	                    <option value="MN">Minnesota</option>
	                    <option value="MS">Mississippi</option>
	                    <option value="MO">Missouri</option>
	                    <option value="MT">Montana</option>
	                    <option value="NE">Nebraska</option>
	                    <option value="NV">Nevada</option>
	                    <option value="NH">New Hampshire</option>
	                    <option value="NJ">New Jersey</option>
	                    <option value="NM">New Mexico</option>
	                    <option value="NY">New York</option>
	                    <option value="NC">North Carolina</option>
	                    <option value="ND">North Dakota</option>
	                    <option value="OH">Ohio</option>
	                    <option value="OK">Oklahoma</option>
	                    <option value="OR">Oregon</option>
	                    <option value="PA">Pennsylvania</option>
	                    <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
	                    <option value="SD">South Dakota</option>
	                    <option value="TN">Tennessee</option>
	                    <option value="TX">Texas</option>
	                    <option value="UT">Utah</option>
	                    <option value="VT">Vermont</option>
	                    <option value="VA">Virginia</option>
	                    <option value="WA">Washington</option>
	                    <option value="WV">West Virginia</option>
	                    <option value="WI">Wisconsin</option>
	                    <option value="WY">Wyoming</option>
                </select>
                <input type="button" onclick="get_data_forstate_restrict()" value="test">
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="items">
            <h2>Search State data</h2>
            <div>
                <label for="stateinput">Input State Code</label>
                <select id="stateinput"></select>
                <label for="stateinputdate">Input Date</label>
                <select id="stateinputdate"></select>
                <input type="button" onclick="get_serchdata_for_state()" value="test">
            </div>
        </div>
        <div class="items">
            <h2>Search Country data</h2>
            <div>
                <label for="countryinput">Input Country</label>
                <select id="countryinput"></select>
                <label for="countryinputdate">Input Date</label>
                <select id="countryinputdate"></select>
                <input type="button" onclick="get_search_data_for_country()" value="test">
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="items">
            <h2>Analyse State Data</h2>
            <label for="selectstateforanalyse">Input state</label>
            <select id="selectstateforanalyse"></select>
            <input type="button" value="Start" onclick="display_state_analysis()">
        </div>
        <div class="items">
            <h2>Analyse Country Data</h2>
            <label for="selectcountryforanalyse">Input Country</label>
            <select id="selectcountryforanalyse"></select>
            <input type="button" value="Start" onclick="display_country_analysis()">
        </div>
    </div>
    <div id="response">
            <div class="responseitem">
                <p><h3>Resturant Restriction:</h3><span id="resturantdisplay"></span></p>
                <p><h3>Gathering Restriction:</h3><span id="gatheringdisplay"></span></p>
                <p><h3>Non-essential business restrict:</h3><span id="noessentialdisplay"></span></p>
                <p><h3>source:</h3><span id="sourcedisplay"></span></p>
            </div>
            <div id="displaystatedata" class="responseitem">
                <p><h3>State:</h3><span id="stateforstatedisplay"></span></p>
                <p><h3>Date:</h3><span id="dateforstatedisplay"></span></p>
                <p><h3>Total Cases to date:</h3><span id="casesforstatedisplay"></span></p>
                <p><h3>Total Deaths to date:</h3><span id="deathsforstatedisplay"></span></p>
            </div>
            <div id="displaycountrydata" class="responseitem">
                <p><h3>Country:</h3><span id="countryforcountrydisplay"></span></p>
                <p><h3>Date:</h3><span id="dateforcounrydisplay"></span></p>
                <p><h3>Total Cases to date:</h3><span id="casesforcountrydisplay"></span></p>
                <p><h3>Total Deaths to date:</h3><span id="deathsforcountrydisplay"></span></p>
            </div>
            <div id="displayanalysis" class="responseitem">
                <p><h3>State or Country:</h3><span id="displayanalysislocation"></span></p>
                <p><h3>Min New Cases on a day:</h3><span id="mincases"></span></p>
                <p><h3>Max New Cases on a day:</h3><span id="maxcases"></span></p>
                <p><h3>Average New Cases per day:</h3><span id="averagecases"></span></p>
                <p><h3>Min deaths on a day:</h3><span id="mindeaths"></span></p>
                <p><h3>Max New Deaths on a day:</h3><span id="maxdeaths"></span></p>
                <p><h3>Average Deaths per day:</h3><span id="averagedeaths"></span></p>
            </div>
    </div>
</div>
</body>
</html>